#intropane {
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(3,29,52);
    color: #fff;
}

#contentpane {
    padding: 5%;  
    background-color: rgb(240,240,240); 
    height: 69vh;
}

#registerpane {
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 1000;
}

#footer {
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    position : absolute;
    bottom : 0;
    width: 100%;
}