<div id="pane3">
    <div id="chartsPane" style="display:none">
        <div class="col-sm-7" name="pane3">
            <div class="row muli pull-right" style="padding:1%;padding-right:3%">
                {{username}} <a href="logout/">sign out</a>
            </div>
            <div class="row" id="br1"></div>
        </div>
    </div>

    <div id="studentContent">
        <div class="col-sm-7" name="panel3">
            <div class="row muli pull-right" style="padding:1%;padding-right:3%">
                {{username}} <a href="logout/">sign out</a>
            </div>
            <div class="row" id="br1"></div>
            <div class="row muli" id="studentDetails">
                <h1 class="big" id="stdName"></h1>
                <br><br>
                <div class="well" style="border-radius:0">
                    <div class="row">
                        <div class="col-sm-4">
                            <br>
                            <div class="josephin" style="text-align:center;font-size:1000%" id="stdBatch"></div>
                            <br>
                        </div>
                        <div class="col-sm-8 border-left" style="text-align:right">
                            <h3 class="titillium" id="stdContact"></h3>
                            <hr>
                            Father: <b id="stdFather"></b><br>
                            Mother: <b id="stdMother"></b><br>
                            Age: <b id="stdAge"></b><br>
                            Gender: <b id="stdGender"></b><br>
                            <hr>
                            Address: <b id="stdAddress"></b><br><br>
                        </div>
                    </div>

                </div>
                <br>
                <div id="udbuttons"></div>
            </div>
        </div>
    </div>

</div>
