#nav {
  background-color: rgb(210,71,38);
  color: #fff;
  box-shadow: none;
}
#nav a {
  color: #fff;
}
#nav a:hover {
  color: #fff;
}

#panel1 {
    margin: 0;
    padding: 0;
    background-color: rgb(35,35,30);
    color: #fff;
    overflow-y: auto;
    height: 100vh;
}

#studentPaneWrapper {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 29, 52);
    color: #fff;
    overflow-y: hidden;
    height: 100vh;
}
#searchRegWrapper {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 29, 52);
    color: #fff;
    overflow-y: hidden;
    height: 100vh;
}

#chartListWrapper {
    margin: 0;
    padding: 0;
    background-color: goldenrod;
    color: black;
    overflow-y: hidden;
    height: 100vh;
}

#panel3 {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100vh;
}

#chartsPane {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100vh;  
}

.batch {
  background-color:black;
  color:#fff;
  padding:4%;
  margin:0;
}

.batch:hover {
  background-color: rgba(102,102,102,0.5);
}

#studentList {
  height: 72vh;
  overflow-y: auto;  
}

#batchListCol {
  height: 70vh;
  overflow-y: auto;
}

.student {
  background-color:rgb(1, 13, 22);
  color:#fff;
  padding:2%;
  padding-left: 4%;
  padding-right: 4%;
  margin:0;
}

.student:hover {
  background-color: rgba(9, 78, 140, 0.5);
}

.chartName {
  background-color: darkgoldenrod;
  color: black;
  padding:2%;
  padding-left: 4%;
  padding-right: 4%;
  margin:0;
}

.chartName:hover {
  background-color: lightgreen;
}

a:hover {
  text-decoration: none;
}

#hover:hover {
  cursor: pointer;
}

#addStudent {
  display: none;
  padding: 2%
}

#studentDetails {
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.btn-success, .input-group-addon, .btn-danger {
  border-radius: 0;
}

.modal, .fade, .modal-dialog, .modal-content, .modal-header, .modal-body {
  border-radius: 0;
}

#search, #fees, #grades, #courses, #analytics, #about {
  padding:4%;
  margin:0;
}

#fees:hover, #search:hover, #grades:hover, #courses:hover, #analytics:hover, #about:hover {
  background-color: green;
}

#delete {
  padding: 3%;
  font-size: 120%;
}
#delete:hover {
  color: orangered;
  cursor: pointer;
}

#searchbutton {
  cursor: pointer;
}

#searchbutton:hover {
  cursor: pointer;
}

#studentSearchResults {
  height: 82vh;
  overflow-y: auto;
}

#searchReg {
  padding:4%;
  padding-bottom:2%;
  position:absolute;
  z-index:1000;
  background-color: rgb(0, 50, 0);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.course, .coursedel {
  padding: 1%;
}
.course:hover, .courserow:hover {
  background-color: rgb(240,240,240);
}
.coursedel:hover {
  background-color: darkred;
  color: white;
  cursor: pointer;
}

.grade:hover {
  background-color: #222;
  color: white;
}
.gradeOption {
  padding: 8%;
}
.gradeOption:hover {
  color: gold;
  cursor: pointer;
  background-color: #666;
}

#courseList {
  max-height: 52vh;
  overflow-y: auto;
}

#courseListForGrading {
  max-height: 55vh;
  overflow-y: auto;
}

#alphaFilters {
  padding:4%;
  padding-bottom:2%;
  position:absolute;
  z-index:1000;
  width: 100%;
  background-color: rgb(3, 29, 52);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.letter {
  padding: 3%;
  text-align: center;
}
.letter:hover {
  background-color: black;
}