{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
	</head>
	<body>       
        <div class="row-fluid">            
            <div class="col-sm-2 muli" id="panel1">
                <div class="row batch" style="background-color: black">
                    BATCHES
                </div>
                <div class="row batch" style="background-color: black">
                    <i id="hover" data-toggle="modal" data-target="#addBatch">Add a new Batch</i>
                </div>                
                <div id="batchListCol">

                </div>
                <div class="row" style="margin-top:1.4%" id="search" onclick="activateSearch()">
                    Search
                </div>
                <div class="row" id="courses">
                    Academics
                </div>
                <div class="row" id="grades">
                    Analytics
                </div>
                <!--<div class="row" id="workforce">
                    Workforce
                </div>
                <div class="row" id="surveys">
                    Enquiries &amp; Surveys 
                </div>-->
                <div data-toggle="modal" data-target="#aboutModal" class="row" id="about">
                    About
                </div>
            </div>
            <div id="batchContent">
                <div class="col-sm-3 muli" id="panel2">
                    <div id="studentPane">
                        <div class="row student" id="stdlistname" style="background-color: rgb(3, 29, 52)">
                            STUDENTS
                        </div>
                        <div class="row student" style="background-color: rgb(3, 29, 52)">
                            <i id="hover" data-toggle="modal" data-target="#addStudent">Add a new Student</i>
                        </div>
                        <div id="studentList">                   
                        </div>
                        <div class="row student" style="padding-top:2.5%;background-color:rgb(3, 29, 52)">
                            <button data-toggle="modal" data-target="#updateBatch" class="btn btn-primary">UPDATE BATCH</button> 
                            <span data-toggle="modal" data-target="#deleteBatch" class="pull-right glyphicon glyphicon-trash" id="delete"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7" id="panel3">
                    <div class="row muli pull-right" style="padding:1%;padding-right:3%">
                        {{username}} <a href="logout/">sign out</a>
                    </div>
                    <div class="row" id="br1"></div>
                    <div class="row muli" id="studentDetails">
                        <h1 class="big" id="stdName"></h1>
                        <br><br>
                        <div class="well" style="border-radius:0">
                            <div class="row">
                                <div class="col-sm-4">
                                    <br>
                                    <div class="josephin" style="text-align:center;font-size:1000%" id="stdBatch"></div>
                                    <br>
                                </div>
                                <div class="col-sm-8 border-left" style="text-align:right">
                                    <h3 class="titillium" id="stdContact"></h3>
                                    <hr>
                                    Father: <b id="stdFather"></b><br>
                                    Mother: <b id="stdMother"></b><br>
                                    Age: <b id="stdAge"></b><br>
                                    Gender: <b id="stdGender"></b><br>
                                    <hr>
                                    Address: <b id="stdAddress"></b><br><br>
                                </div>
                            </div>
                            
                        </div>
                        <br>
                        <div id="udbuttons"></div>

                    </div>
                </div>
            </div>
            <div id="searchContent">
                <div class="col-sm-3 muli" id="panel2">
                    <div id="searchReg">
                        <div class="form-group">
                            <label class="sr-only" for="name">Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchkey" id="searchkey" placeholder="Search Here">
                                <div class="input-group-addon" onclick="search()" id="searchbutton"><span class="glyphicon glyphicon-search"></span></div>
                            </div>
                        </div>
                        <h6 onclick="showFilters()" style="cursor:pointer"><i>add filters</i></h6>
                        <div id="filterList"> <br>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checksbatch">Batch
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="sbatch">Batch</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Batch</div>
                                    <select class="form-control" id="sbatch">
                                    </select>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checksgender">Gender
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="sgender">Gender</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Gender</div>
                                    <select class="form-control" id="sgender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checksaddress">Address
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="saddress">Address</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Address</div>
                                    <select class="form-control" id="saddress">

                                    </select>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checksfee">Pending Fee
                                </label>
                            </div>
                            <div onclick="showFilters()" style="text-align:center;cursor:pointer"><span class="glyphicon glyphicon-chevron-up"></span></div>
                        </div>
                    </div>
                    <h5 style="padding-left:4%;margin-top:30%;">RESULTS</h5>
                    <div id="studentSearchResults"> 
                        <div class="student" style="background-color:rgb(3,29,52)">Nothing to show</div>
                    </div>
                </div>
                <div class="col-sm-7" id="panel3">
                    <div class="row muli pull-right" style="padding:1%;padding-right:3%">
                        {{username}} <a href="logout/">sign out</a>
                    </div>
                    <div class="row" id="br1"></div>                    
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="aboutModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title"><b>Online School Management System</b></h4>
                    </div>
                    <div class="muli modal-body">
                        <p>
                            <b>Version</b>: 1.1.1 <br>
                            <b>Commit</b>: 372ab23cf9ef93ed40fd118cb53ccd79bed22fd6 <br>
                            <b>License</b>: GNU GPL v3.0 <br>
                            <b>Developer</b>: <a target="_blank" href="http://pranshu258.github.io">Pranshu Gupta</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="addBatch">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title">Add a new Batch</h4>
                    </div>
                    <div class="modal-body">
                        <form action="../services/addBatch" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Name</div>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Batch Name">
                                </div>
                            </div>
                            <button type="submit" class="muli btn btn-primary">Add Batch</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="updateBatch">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title">Update Batch</h4>
                    </div>
                    <div class="modal-body">
                        <form action="../services/updateBatch" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="oname" id="oname">
                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Name</div>
                                    <input type="text" class="form-control" name="name" id="bname" placeholder="Enter Batch Name">
                                </div>
                            </div>
                            <button type="submit" class="muli btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="deleteBatch">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title">Are you sure?</h4>
                    </div>
                    <div class="muli modal-body">
                        <p>Deleting a batch will also delete all the students enrolled in that batch!</p><br>
                        <button type="submit" class="muli btn btn-danger" id="deleteBatchLabel">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="deleteStudent">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title">Are you sure?</h4>
                    </div>
                    <div class="muli modal-body">
                        <p>This will delete all the data associated with the student - <span id="DelstdName"></span> !</p><br>
                        <div id="deleteStudentButton"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="addStudent">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title">Add a new Student</h4>
                    </div>
                    <div class="modal-body">
                        <form action="../services/collect" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Name</div>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Student Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="father">Father</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Father</div>
                                    <input type="text" class="form-control" name="father" id="father" placeholder="Enter Father's Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="mother">Mother</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Mother</div>
                                    <input type="text" class="form-control" name="mother" id="mother" placeholder="Enter Mother's Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="gender">Gender</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Gender</div>
                                    <select class="form-control" name="gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="age">Age</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Age</div>
                                    <input type="number" class="form-control" name="age" id="age" placeholder="Enter Age">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="address">Address</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Address</div>
                                    <select class="form-control" name="address" id="address1">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="contact">Contact</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Contact</div>
                                    <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter Mobile Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="batch">Batch</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Batch</div>
                                    <select class="form-control" name="batch" id="ubatch1">
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="muli btn btn-primary">Add Student</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="updateStudent">
            <div class="modal-dialog" style="border-radius: 0;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title">Update Student</h4>
                    </div>
                    <div class="modal-body">
                        <form action="../services/stdupdate" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="uid">
                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Name</div>
                                    <input type="text" class="form-control" name="name" id="uname" placeholder="Enter Student Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="father">Father</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Father</div>
                                    <input type="text" class="form-control" name="father" id="ufather" placeholder="Enter Father's Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="mother">Mother</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Mother</div>
                                    <input type="text" class="form-control" name="mother" id="umother" placeholder="Enter Mother's Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="ugender">Gender</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Gender</div>
                                    <select class="form-control" name="gender" id="ugender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="uage">Age</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Age</div>
                                    <input type="number" class="form-control" name="age" id="uage" placeholder="Enter Age">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="uaddress">Address</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Address</div>
                                    <select class="form-control" name="address" id="uaddress">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="ucontact">Contact</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Contact</div>
                                    <input type="text" class="form-control" id="ucontact" name="contact" placeholder="Enter Mobile Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="ubatch">Batch</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Batch</div>
                                    <select class="form-control" name="batch" id="ubatch">
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="muli btn btn-primary">Update Student</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="studentFee">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="muli modal-title">Manage Fees</h4>
                    </div>
                    <div class="muli modal-body">
                        <div id="defined">
                            <div class="row">
                                <div class="col-sm-4">
                                    Installments
                                    <h2 id="installments1">NA</h2>
                                </div>
                                <div class="col-sm-4" style="text-align:center">
                                    Amount/Installment
                                    <h2 id="amount1">NA</h2>
                                </div>
                                <div class="col-sm-4" style="text-align:right">
                                    Installments Paid
                                    <h2 id="paid1">NA</h2>
                                </div>
                            </div>
                            <br>
                            <form action="../services/studentFee" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="sid" id="studentFeeID">
                                <input type="hidden" name="batch" id="studentFeeBID">
                                <div id="undefined">
                                    <div class="form-group">
                                        <label class="sr-only" for="installments">Installments</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">Installments</div>
                                            <input type="number" class="form-control" name="installments" id="installments" placeholder="Enter the number of installments">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="amount">Amount/Installment</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">Amount/Installment</div>
                                            <input type="number" class="form-control" name="amount" id="amount" placeholder="Enter the amount payable per installment">
                                        </div>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="sr-only" for="paid">Installments Paid</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Installments Paid</div>
                                        <input type="number" class="form-control" name="paid" id="paid" placeholder="Enter the number of installments paid">
                                    </div>
                                </div>
                                <button type="submit" class="muli btn btn-primary">Submit</button>
                                <span onclick="updateFee()" id="updateFeeLabel" class="pull-right" style="margin-top:3%;cursor:pointer"><small>update fee structure for this student</small></span>
                            </form>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <script>
            console.log("{{username}}");
            var highlightedSTD;
            var highlightedBatch;
            var sentBatch = "{{batch}}";
        </script>
        <script src="{% static 'scripts/jquery.js' %}" ></script>
        <script src="{% static 'scripts/address.js' %}" ></script>
        <script src="{% static 'scripts/search.js' %}" ></script>
        <script src="{% static 'scripts/dashboard.js' %}" ></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
	</body>
</html>