{% load static %}
<!DOCTYPE HTML>
<meta charset="utf-8">
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
	</head>
	<body>       
        <div class="row-fluid">

            <!-- pane1 included here -->
            {% include "dashboard/pane1/pane1.html" %}

            <!-- pane2 included here -->
            {% include "dashboard/pane2/pane2.html" %}

            <!-- pane3 included here -->
            {% include "dashboard/pane3/pane3.html" %}

        </div>

        <!-- Pop Ups -->
        {% include "dashboard/popups/aboutModal.html" %}
        {% include "dashboard/popups/addBatch.html" %}
        {% include "dashboard/popups/updateBatch.html" %}
        {% include "dashboard/popups/deleteBatch.html" %}
        {% include "dashboard/popups/deleteStudent.html" %}
        {% include "dashboard/popups/addStudent.html" %}
        {% include "dashboard/popups/updateStudent.html" %}
        {% include "dashboard/popups/studentFee.html" %}
        {% include "dashboard/popups/acadsDialog.html" %}
        {% include "dashboard/popups/manageGrades.html" %}

        <script>
            console.log("{{username}}");
            var highlightedSTD;
            var highlightedBatch;
            var sentBatch = "{{batch}}";
        </script>
        <script src="{% static 'scripts/jquery.js' %}" ></script>
        <script src="{% static 'scripts/address.js' %}" ></script>
        <script src="{% static 'scripts/dashboard.js' %}" ></script>
        <script src="{% static 'scripts/search.js' %}" ></script>
        <script src="{% static 'scripts/analytics.js' %}" ></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
	</body>
</html>