<div class="modal fade" role="dialog" id="aboutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="muli modal-title"><b>Online School Management System</b></h4>
            </div>
            <div class="muli modal-body">
                <p>
                    <b>Version</b>: 2.0.0 <br>
                    <b>Developer</b>: <a target="_blank" href="http://pranshu258.github.io">Pranshu Gupta</a><br>
                    <b>Contributors</b>: Prashant Kumar
                </p>
            </div>
        </div>
    </div>
</div>
