<div class="modal fade" role="dialog" id="addStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="muli modal-title">Add a new Student</h4>
            </div>
            <div class="modal-body">
                <form action="../services/collect" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon">Name</div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Student Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="father">Father</label>
                        <div class="input-group">
                            <div class="input-group-addon">Father</div>
                            <input type="text" class="form-control" name="father" id="father" placeholder="Enter Father's Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="mother">Mother</label>
                        <div class="input-group">
                            <div class="input-group-addon">Mother</div>
                            <input type="text" class="form-control" name="mother" id="mother" placeholder="Enter Mother's Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="gender">Gender</label>
                        <div class="input-group">
                            <div class="input-group-addon">Gender</div>
                            <select class="form-control" name="gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="age">Age</label>
                        <div class="input-group">
                            <div class="input-group-addon">Age</div>
                            <input type="number" class="form-control" name="age" id="age" placeholder="Enter Age">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="address">Address</label>
                        <div class="input-group">
                            <div class="input-group-addon">Address</div>
                            <select class="form-control" name="address" id="address1">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="contact">Contact</label>
                        <div class="input-group">
                            <div class="input-group-addon">Contact</div>
                            <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter Mobile Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="batch">Batch</label>
                        <div class="input-group">
                            <div class="input-group-addon">Batch</div>
                            <select class="form-control" name="batch" id="ubatch1">
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="muli btn btn-primary">Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>
