<div id="batchContent">
    <div class="col-sm-3 muli" name="panel2" id="studentPaneWrapper">
        <div id="studentPane">
            <div class="row student" id="stdlistname" style="background-color: rgb(3, 29, 52)">
                STUDENTS
            </div>
            
            <div class="row student" style="background-color: rgb(3, 29, 52)">
                <i id="hover" data-toggle="modal" data-target="#addStudent">Add a new Student</i>
            </div>
            
            <h6 onclick="showAlpha()" style="cursor:pointer;padding-left:4%"><i>show by alphabet</i></h6>
            <div id="alphaFilters">
            </div>

            <div id="studentList">
            </div>
            
            <div class="row student" style="padding-top:2.5%;background-color:rgb(3, 29, 52)">
                <button data-toggle="modal" data-target="#updateBatch" class="btn btn-primary">RENAME BATCH</button>
                <button data-toggle="modal" style="margin-left:2%" data-target="#acadsDialog" class="btn btn-success">COURSE PLAN</button>
                <span data-toggle="modal" data-target="#deleteBatch" class="pull-right glyphicon glyphicon-trash" id="delete"></span>
            </div>
        </div>
    </div>
</div>
