<div class="modal fade" role="dialog" id="deleteStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="muli modal-title">Are you sure?</h4>
            </div>
            <div class="muli modal-body">
                <p>This will delete all the data associated with the student - <span id="DelstdName"></span> !</p><br>
                <div id="deleteStudentButton"></div>
            </div>
        </div>
    </div>
</div>
