<div class="modal fade" role="dialog" id="deleteBatch">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="muli modal-title">Are you sure?</h4>
            </div>
            <div class="muli modal-body">
                <p>Deleting a batch will also delete all the students enrolled in that batch!</p><br>
                <button type="submit" class="muli btn btn-danger" id="deleteBatchLabel">Confirm</button>
            </div>
        </div>
    </div>
</div>
