<div id="pane1">
    <div class="col-sm-2 muli" id="panel1">
        <div class="row batch" style="background-color: black">
            BATCHES
        </div>
        <div class="row batch" style="background-color: black">
            <i id="hover" data-toggle="modal" data-target="#addBatch">Add a new Batch</i>
        </div>
        <div id="batchListCol">

        </div>
        <div class="row" style="margin-top:1.4%" id="search" onclick="activateSearch()">
            Search
        </div>
        <div class="row" id="analytics" onclick="activateAnalytics()">
            Analytics
        </div>
        <div data-toggle="modal" data-target="#aboutModal" class="row" id="about">
            About
        </div>
    </div>

</div>
